# MongoDB Configuration
MONGODB_URI=mongodb://admin:your_secure_password@localhost:27017

# JWT Secrets
ACCESS_TOKEN_SECRET=your_jwt_secret_key_here
ACCESS_TOKEN_EXPIRY=




# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080
